spring:
  rabbitmq:
    host: rabbitmq

hystrix:
  command:
    default:
      execution:
        isolation:
          thread:
            timeoutInMilliseconds: 10000

eureka:
  instance:
    prefer-ip-address: true
  client:
    serviceUrl:
      defaultZone: http://discovery-service:8081/eureka/



security:
  oauth2:
    resource:
      user-info-uri: http://auth-service:8083/users/current
